header {
  padding: 10px;
}

body{
  background-color: rgb(204,224,251); /* Light Blue */
  align-items: center;
}

body h1 {
  text-align: center;
  padding-bottom: 0px;
}

body h6 {
  color: red;
  padding: none;
  margin-top: -15px;
  margin-bottom: 10px;
}

form  {
  background-color: rgb(253,254,255); /* White */
  border-style: blank;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

input  {
  box-sizing: border-box;
  border:none;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: none;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  color:rgb(62,0,248);
}

textarea {
  box-sizing: border-box;
  resize: none;
  width:350px;
  height:200px;
  color:rgb(62,0,248);
  padding: 10px;
  background-color: rgb(168,170,255); /* Light Blue 3 */
  border: none;
  border-radius: 5px;
  font-family: arial
}

/* SUBMIT BUTTON */
input[type="submit"] {
  color: white;
  padding: 15px 25px;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(68,0,249); /* Dark Blue */
}

/* First and Last Name */
input[id="fname"],[id="lname"]{
  box-sizing: border-box;
  background-color: rgb(232,231,255); /* Light Blue 1 */
  border-radius: 5px;
  width: 172.5px;
}

/* Email and Phone Number*/
input[id="email"],[id="phone"] {
  box-sizing: border-box;
  background-color: rgb(201,201,255);
  border-radius: 5px;
  width: 172.5px;
}

/* Query Question */
input[id="comment_query"]{
  box-sizing: border-box;
  width: 172.5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(201,201,255); /* Light Blue 2 */
}

select[id="query"]{
  color:rgb(62,0,248);
  box-sizing: border-box;
  width: 172.5px;
  height: 34px;
  padding: 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(201,201,255);/* Light Blue 2 */
}

footer {
  text-align: center;
  padding: 10px;
}
